In [ ]:
import yfinance as yf
import pandas as pd
from datetime import datetime

In [ ]:
start_date = '1979-12-31'
end_date = '2022-01-01'

In [ ]:
df = yf.Ticker('^GSPC').history(start=start_date, end=end_date)
del df['Open'], df['High'], df['Low'], df['Dividends'], df['Stock Splits']
df

                                 Close      Volume
Date
1979-12-31 00:00:00-05:00   107.940002    31530000
1980-01-02 00:00:00-05:00   105.760002    40610000
1980-01-03 00:00:00-05:00   105.220001    50480000
1980-01-04 00:00:00-05:00   106.519997    39130000
1980-01-07 00:00:00-05:00   106.809998    44500000
...                                ...         ...
2021-12-27 00:00:00-05:00  4791.189941  2770290000
2021-12-28 00:00:00-05:00  4786.350098  2707920000
2021-12-29 00:00:00-05:00  4793.060059  2963310000
2021-12-30 00:00:00-05:00  4778.729980  3124950000
2021-12-31 00:00:00-05:00  4766.180176  2677820000

[10593 rows x 2 columns]

In [ ]:
timezone_info = df.index.tz
std_dict = {}
for year in range(1980, 2022):
    start_date = datetime(year, 1, 1, tzinfo=timezone_info)
    end_date = datetime(year, 12, 31, tzinfo=timezone_info)
    subset_df = df.loc[start_date:end_date]
    std_deviation_subset = subset_df['Close'].pct_change().std()
    std_dict[year] = std_deviation_subset

In [ ]:
# TARGET
std_df = pd.DataFrame(list(std_dict.items()), columns=['Year', 'Standard_Deviation'])
std_df

    Year  Standard_Deviation
0   1980            0.010326
1   1981            0.008501
2   1982            0.011546
3   1983            0.008339
4   1984            0.008047
5   1985            0.006381
6   1986            0.009270
7   1987            0.020297
8   1988            0.010551
9   1989            0.008219
10  1990            0.010018
11  1991            0.009006
12  1992            0.006106
13  1993            0.005430
14  1994            0.006212
15  1995            0.004927
16  1996            0.007348
17  1997            0.011460
18  1998            0.012828
19  1999            0.011428
20  2000            0.014015
21  2001            0.013502
22  2002            0.016457
23  2003            0.010599
24  2004            0.007012
25  2005            0.006470
26  2006            0.006247
27  2007            0.010100
28  2008            0.025882
29  2009            0.017133
30  2010            0.011375
31  2011            0.014673
32  2012            0.007950
33  2013            0.006825
34  2014            0.007134
35  2015            0.009781
36  2016            0.008205
37  2017            0.004191
38  2018            0.010757
39  2019            0.007887
40  2020            0.021768
41  2021            0.008222

In [ ]:
features = pd.read_csv('/Users/justin/MachineLearningResearch/export copy.csv')
features

,Econiso,Auto,Bond10yr,Bond20yr,Bond30yr,Cabgdp1,Cabgdp2,Cpi,Cpi1,Cpi3,...,Tbill3m,Tbill6m,Txcr,Unemp,Unemp1,Unemp2,Wpi1,Wpi3,Wpir,Datadate
0,USA,NaN,NaN,NaN,NaN,-3.3292,-3.3098,NaN,122.3080,121.5930,...,NaN,NaN,16.7931,NaN,4.2757,4.2148,125.4701,124.8796,-2.1089,2024-04-30
1,USA,NaN,NaN,NaN,NaN,-3.3292,-3.3098,NaN,122.3080,121.8803,...,NaN,NaN,16.7931,NaN,4.2757,4.2148,125.4701,124.8238,-2.1089,2024-05-31
2,USA,NaN,NaN,NaN,NaN,-3.3292,-3.3098,NaN,122.3080,122.1844,...,NaN,NaN,16.7931,NaN,4.2757,4.2148,125.4701,124.9251,-2.1089,2024-06-30
3,USA,NaN,NaN,NaN,NaN,-3.3292,-3.3572,NaN,122.3080,122.5855,...,NaN,NaN,16.7931,NaN,4.2757,4.3669,125.4701,125.4795,-2.1089,2024-07-31
4,USA,NaN,NaN,NaN,NaN,-3.3292,-3.3572,NaN,122.3080,122.8633,...,NaN,NaN,16.7931,NaN,4.2757,4.3669,125.4701,125.6726,-2.1089,2024-08-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,CAN,50.552,6.42,NaN,6.8053,0.3856,-0.0462,0.897,76.3523,77.0177,...,2.690,NaN,22.9208,9.5,9.6254,9.8467,83.9013,83.7930,0.4389,1996-11-30
996,CAN,44.686,6.77,NaN,7.0866,0.3856,-0.0462,0.899,76.3523,77.0177,...,2.799,NaN,22.9208,9.3,9.6254,9.8467,83.9013,84.1930,0.4389,1996-12-31
997,CAN,43.019,7.07,NaN,7.3462,-1.3764,-0.3654,0.900,77.5902,77.1895,...,2.841,NaN,27.6365,10.3,9.0895,9.4426,84.4763,83.9930,0.6853,1997-01-31
998,CAN,46.063,6.78,NaN,7.0270,-1.3764,-0.3654,0.901,77.5902,77.3612,...,2.858,NaN,27.6365,10.3,9.0895,9.4426,84.4763,84.0930,0.6853,1997-02-28
999,CAN,63.443,6.97,NaN,7.2163,-1.3764,-0.3654,0.902,77.5902,77.4471,...,3.186,NaN,27.6365,10.0,9.0895,9.4426,84.4763,84.1930,0.6853,1997-03-31

In [ ]:
features = features[features['Econiso'] == 'USA']
features

,Econiso,Auto,Bond10yr,Bond20yr,Bond30yr,Cabgdp1,Cabgdp2,Cpi,Cpi1,Cpi3,...,Tbill3m,Tbill6m,Txcr,Unemp,Unemp1,Unemp2,Wpi1,Wpi3,Wpir,Datadate
0,USA,NaN,NaN,NaN,NaN,-3.3292,-3.3098,NaN,122.308,121.5930,...,NaN,NaN,16.7931,NaN,4.2757,4.2148,125.4701,124.8796,-2.1089,2024-04-30
1,USA,NaN,NaN,NaN,NaN,-3.3292,-3.3098,NaN,122.308,121.8803,...,NaN,NaN,16.7931,NaN,4.2757,4.2148,125.4701,124.8238,-2.1089,2024-05-31
2,USA,NaN,NaN,NaN,NaN,-3.3292,-3.3098,NaN,122.308,122.1844,...,NaN,NaN,16.7931,NaN,4.2757,4.2148,125.4701,124.9251,-2.1089,2024-06-30
3,USA,NaN,NaN,NaN,NaN,-3.3292,-3.3572,NaN,122.308,122.5855,...,NaN,NaN,16.7931,NaN,4.2757,4.3669,125.4701,125.4795,-2.1089,2024-07-31
4,USA,NaN,NaN,NaN,NaN,-3.3292,-3.3572,NaN,122.308,122.8633,...,NaN,NaN,16.7931,NaN,4.2757,4.3669,125.4701,125.6726,-2.1089,2024-08-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,USA,771.7,NaN,NaN,8.42,0.0469,0.1644,1.360,62.440,62.3635,...,5.54,5.68,17.6741,6.9,6.8503,6.8333,61.1986,62.8377,0.2203,1991-06-30
596,USA,773.2,NaN,NaN,8.36,0.0469,-0.2693,1.362,62.440,62.4552,...,5.53,5.66,17.6741,6.8,6.8503,6.8667,61.1986,62.7807,0.2203,1991-07-31
597,USA,690.4,NaN,NaN,8.06,0.0469,-0.2693,1.366,62.440,62.6387,...,5.33,5.36,17.6741,6.9,6.8503,6.8667,61.1986,62.8941,0.2203,1991-08-31
598,USA,671.4,NaN,NaN,7.82,0.0469,-0.2693,1.370,62.440,62.8221,...,5.11,5.12,17.6741,6.9,6.8503,6.8667,61.1986,62.6951,0.2203,1991-09-30
599,USA,702.0,NaN,NaN,7.91,0.0469,-0.3441,1.372,62.440,62.9138,...,4.82,4.83,17.6741,7.0,6.8503,7.1000,61.1986,62.7301,0.2203,1991-10-31

In [ ]:
features.loc[:, 'Datedate'] = pd.to_datetime(features['Datadate'])

# Sort the DataFrame by the 'Birthdate' column
df_sort = features.sort_values(by='Datadate')
df_sort.set_index('Datadate', inplace=True)
df_sort

,Econiso,Auto,Bond10yr,Bond20yr,Bond30yr,Cabgdp1,Cabgdp2,Cpi,Cpi1,Cpi3,...,Tbill3m,Tbill6m,Txcr,Unemp,Unemp1,Unemp2,Wpi1,Wpi3,Wpir,Datedate
Datadate,,,,,,,,,,,,,,,,,,,,,
1981-01-31,USA,647.5,NaN,NaN,12.28,0.1567,0.1230,0.872,41.6980,NaN,...,14.59,13.63,19.4346,7.5,7.6174,7.4333,51.4771,NaN,9.1426,1981-01-31
1981-02-28,USA,764.0,NaN,NaN,12.97,0.1567,0.1230,0.880,41.6980,NaN,...,14.22,13.89,19.4346,7.4,7.6174,7.4333,51.4771,NaN,9.1426,1981-02-28
1981-03-31,USA,962.7,NaN,NaN,12.65,0.1567,0.1230,0.886,41.6980,NaN,...,12.46,12.03,19.4346,7.4,7.6174,7.4333,51.4771,NaN,9.1426,1981-03-31
1981-04-30,USA,751.3,NaN,NaN,13.65,0.1567,0.1551,0.891,41.6980,NaN,...,14.86,14.21,19.4346,7.2,7.6174,7.4000,51.4771,NaN,9.1426,1981-04-30
1981-05-31,USA,733.6,NaN,NaN,13.06,0.1567,0.1551,0.897,41.6980,NaN,...,15.10,14.02,19.4346,7.5,7.6174,7.4000,51.4771,NaN,9.1426,1981-05-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2030-10-31,CAN,NaN,NaN,NaN,NaN,0.4066,0.3650,NaN,133.8800,NaN,...,NaN,NaN,16.0139,NaN,5.5763,5.5763,128.5212,NaN,0.6080,2030-10-31
2030-11-30,USA,NaN,NaN,NaN,NaN,-2.2814,-2.2161,NaN,139.3702,NaN,...,NaN,NaN,15.2196,NaN,4.2854,4.2980,136.4050,NaN,1.4729,2030-11-30
2030-11-30,CAN,NaN,NaN,NaN,NaN,0.4066,0.3650,NaN,133.8800,NaN,...,NaN,NaN,16.0139,NaN,5.5763,5.5763,128.5212,NaN,0.6080,2030-11-30
2030-12-31,USA,NaN,NaN,NaN,NaN,-2.2814,-2.2161,NaN,139.3702,NaN,...,NaN,NaN,15.2196,NaN,4.2854,4.2980,136.4050,NaN,1.4729,2030-12-31
2030-12-31,CAN,NaN,NaN,NaN,NaN,0.4066,0.3650,NaN,133.8800,NaN,...,NaN,NaN,16.0139,NaN,5.5763,5.5763,128.5212,NaN,0.6080,2030-12-31

In [ ]:
df_sort = df_sort[df_sort.index < '2024-01-31']
df_sort

,Econiso,Auto,Bond10yr,Bond20yr,Bond30yr,Cabgdp1,Cabgdp2,Cpi,Cpi1,Cpi3,...,Tbill3m,Tbill6m,Txcr,Unemp,Unemp1,Unemp2,Wpi1,Wpi3,Wpir,Datedate
Datadate,,,,,,,,,,,,,,,,,,,,,
1981-01-31,USA,647.500,NaN,NaN,12.2800,0.1567,0.1230,0.8720,41.6980,NaN,...,14.590,13.63,19.4346,7.5,7.6174,7.4333,51.4771,NaN,9.1426,1981-01-31
1981-02-28,USA,764.000,NaN,NaN,12.9700,0.1567,0.1230,0.8800,41.6980,NaN,...,14.220,13.89,19.4346,7.4,7.6174,7.4333,51.4771,NaN,9.1426,1981-02-28
1981-03-31,USA,962.700,NaN,NaN,12.6500,0.1567,0.1230,0.8860,41.6980,NaN,...,12.460,12.03,19.4346,7.4,7.6174,7.4333,51.4771,NaN,9.1426,1981-03-31
1981-04-30,USA,751.300,NaN,NaN,13.6500,0.1567,0.1551,0.8910,41.6980,NaN,...,14.860,14.21,19.4346,7.2,7.6174,7.4000,51.4771,NaN,9.1426,1981-04-30
1981-05-31,USA,733.600,NaN,NaN,13.0600,0.1567,0.1551,0.8970,41.6980,NaN,...,15.100,14.02,19.4346,7.5,7.6174,7.4000,51.4771,NaN,9.1426,1981-05-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-10-31,USA,233.052,NaN,5.21,5.0400,-3.1017,-3.1802,3.0762,119.1700,120.3274,...,5.330,5.33,16.8413,3.8,3.6479,3.8587,128.1732,128.1258,-3.1379,2023-10-31
2023-11-30,CAN,18.267,NaN,NaN,3.5535,-0.6814,0.8644,NaN,115.4914,116.7828,...,5.042,NaN,17.6953,NaN,5.3747,5.7990,125.5534,126.0820,-1.8322,2023-11-30
2023-11-30,USA,235.882,NaN,4.72,4.5400,-3.1017,-3.1802,3.0792,119.1700,120.4473,...,5.250,5.18,16.8413,3.7,3.6479,3.8587,128.1732,127.7358,-3.1379,2023-11-30
2023-12-31,CAN,NaN,NaN,NaN,3.0853,-0.6814,0.8644,NaN,115.4914,116.9930,...,5.037,NaN,17.6953,NaN,5.3747,5.7990,125.5534,125.8852,-1.8322,2023-12-31
2023-12-31,USA,254.372,NaN,4.20,4.0300,-3.1017,-3.1802,3.0885,119.1700,120.5673,...,5.200,5.05,16.8413,3.7,3.6479,3.8587,128.1732,127.3459,-3.1379,2023-12-31

In [ ]:
# FEATURES
features = ['Auto', 'Cabgdp1', 'Cabgdp2', 'Cpi1', 'Employ', 'Fedfunds', 'Gdpn2', 'Gdpr2', 'Ip1', 'Ipgr', 'Libor3m', 'M1', 'M2', 'Mbroad1', 'Popt', 'Prime', 'Txcr', 'Tbill6m', 'Tbill3m', 'Tbill12m', 'Unemp', 'Wpi1']
df_sort[features]

,Auto,Cabgdp1,Cabgdp2,Cpi1,Employ,Fedfunds,Gdpn2,Gdpr2,Ip1,Ipgr,...,M2,Mbroad1,Popt,Prime,Txcr,Tbill6m,Tbill3m,Tbill12m,Unemp,Wpi1
Datadate,,,,,,,,,,,,,,,,,,,,,
1981-01-31,647.500,0.1567,0.1230,41.6980,91031.0,17.25,3131.7990,6635.7260,55.9426,1.2991,...,1606.9,1737.8000,230.2426,20.16,19.4346,13.63,14.590,12.5000,7.5,51.4771
1981-02-28,764.000,0.1567,0.1230,41.6980,91098.0,15.53,3131.7990,6635.7260,55.9426,1.2991,...,1618.7,1737.8000,230.2426,19.43,19.4346,13.89,14.220,12.9700,7.4,51.4771
1981-03-31,962.700,0.1567,0.1230,41.6980,91202.0,14.63,3131.7990,6635.7260,55.9426,1.2991,...,1636.6,1737.8000,230.2426,18.05,19.4346,12.03,12.460,11.7300,7.4,51.4771
1981-04-30,751.300,0.1567,0.1551,41.6980,91276.0,18.92,3167.2510,6587.2690,55.9426,1.2991,...,1659.2,1737.8000,230.2426,17.15,19.4346,14.21,14.860,13.5900,7.2,51.4771
1981-05-31,733.600,0.1567,0.1551,41.6980,91286.0,17.56,3167.2510,6587.2690,55.9426,1.2991,...,1664.2,1737.8000,230.2426,19.61,19.4346,14.02,15.100,13.1800,7.5,51.4771
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-10-31,233.052,-3.1017,-3.1802,119.1700,156843.0,5.33,27901.3400,22553.2200,100.3880,0.2130,...,20671.1,22171.7846,335.5005,8.50,16.8413,5.33,5.330,5.1400,3.8,128.1732
2023-11-30,18.267,-0.6814,0.8644,115.4914,NaN,NaN,2822.1739,2200.6908,101.3563,0.4196,...,NaN,3477.2532,38.7813,NaN,17.6953,NaN,5.042,4.8990,NaN,125.5534
2023-11-30,235.882,-3.1017,-3.1802,119.1700,157016.0,5.33,27901.3400,22553.2200,100.3880,0.2130,...,20760.2,22171.7846,335.5005,8.50,16.8413,5.18,5.250,4.8800,3.7,128.1732
2023-12-31,NaN,-0.6814,0.8644,115.4914,NaN,NaN,2822.1739,2200.6908,101.3563,0.4196,...,NaN,3477.2532,38.7813,NaN,17.6953,NaN,5.037,4.6495,NaN,125.5534
2023-12-31,254.372,-3.1017,-3.1802,119.1700,157232.0,5.33,27901.3400,22553.2200,100.3880,0.2130,...,NaN,22171.7846,335.5005,8.50,16.8413,5.05,5.200,4.5500,3.7,128.1732

In [ ]:
monthly_volumes = df['Volume'].resample('M').sum()
monthly_volumes

Date
1979-12-31 00:00:00-05:00       31530000
1980-01-31 00:00:00-05:00     1158240000
1980-02-29 00:00:00-05:00      956530000
1980-03-31 00:00:00-05:00      876450000
1980-04-30 00:00:00-04:00      674140000
                                ...
2021-08-31 00:00:00-04:00    80500760000
2021-09-30 00:00:00-04:00    85528860000
2021-10-31 00:00:00-04:00    80253600000
2021-11-30 00:00:00-05:00    88268840000
2021-12-31 00:00:00-05:00    92750180000
Freq: M, Name: Volume, Length: 505, dtype: int64

In [ ]:
volatility = yf.Ticker('^VIX').history(start=start_date, end=end_date)
volatility = volatility['Close'].resample('M').mean()
volatility

Date
2021-01-31 00:00:00-06:00    24.910000
2021-02-28 00:00:00-06:00    23.140526
2021-03-31 00:00:00-05:00    21.843044
2021-04-30 00:00:00-05:00    17.416191
2021-05-31 00:00:00-05:00    19.760500
2021-06-30 00:00:00-05:00    16.956818
2021-07-31 00:00:00-05:00    17.603334
2021-08-31 00:00:00-05:00    17.477727
2021-09-30 00:00:00-05:00    19.824762
2021-10-31 00:00:00-05:00    17.869048
2021-11-30 00:00:00-06:00    18.500476
2021-12-31 00:00:00-06:00    21.551429
Freq: M, Name: Close, dtype: float64

In [ ]:
other_features = pd.read_csv('/Users/justin/MachineLearningResearch/lysk2ycifdwt8krq.csv')
other_features.loc[:, 'caldt'] = pd.to_datetime(other_features['caldt'])
other_features.set_index('caldt', inplace=True)
other_features = other_features.iloc[other_features.index > '1979-12-31']
other_features

,b30ret,b30ind,b10ret,b10ind,b2ret,b2ind,b1ret,b1ind,t90ret,t90ind,t30ret,t30ind,cpiret,cpiind
caldt,,,,,,,,,,,,,,
1980-01-31,-0.075430,114.7389,-0.037477,133.1511,-0.000164,154.4938,0.004360,162.7163,0.009957,165.9992,0.007968,162.0947,0.014342,183.1
1980-02-29,-0.071114,106.5794,-0.050507,126.4261,-0.036947,148.7857,-0.017205,159.9167,0.006808,167.1293,0.010654,163.8216,0.014139,185.6
1980-03-31,0.005830,107.2008,0.048345,132.5381,0.010329,150.3225,0.006983,161.0334,0.011029,168.9726,0.012009,165.7890,0.015209,188.5
1980-04-30,0.133137,121.4731,0.084375,143.7210,0.084198,162.9793,0.056059,170.0608,0.021308,172.5731,0.012865,167.9218,0.011236,190.6
1980-05-30,0.043988,126.8165,0.038482,149.2517,0.031828,168.1666,0.027164,174.6803,0.014007,174.9903,0.007883,169.2455,0.009877,192.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-08-31,-0.053490,2688.2010,-0.043289,2456.6390,-0.008112,1528.3690,-0.002666,1329.3820,0.001806,1034.4180,0.001901,840.9897,-0.000354,696.9
2022-09-30,-0.085155,2459.2870,-0.050056,2333.6700,-0.012865,1508.7070,-0.004026,1324.0300,0.001684,1036.1600,0.001929,842.6119,0.002151,698.4
2022-10-31,-0.065624,2297.8990,-0.014968,2298.7390,0.000223,1509.0430,0.001372,1325.8470,0.001859,1038.0860,0.002327,844.5727,0.004056,701.2
2022-11-30,0.077931,2476.9770,0.040789,2392.5030,0.008070,1521.2210,0.002016,1328.5200,0.003114,1041.3190,0.002856,846.9848,-0.001010,700.5
2022-12-30,-0.035953,2387.9220,-0.018566,2348.0830,0.000845,1522.5070,0.004019,1333.8590,0.003280,1044.7340,0.003379,849.8467,-0.003070,698.3