In [ ]:
# Shows weighted calculation of standard deviation
import statsmodels.api as sm
import numpy as np
import plotly.graph_objs as go
import matplotlib.pyplot as plt
import plotly
import warnings
warnings.filterwarnings('ignore')

n_assets = 5 1
n_simulation = 500 2

returns = np.random.randn(n_assets, n_simulation) 3

rand = np.random.rand(n_assets) 4
weights = rand/sum(rand) 5

def port_return(returns):
    rets = np.mean(returns, axis=1)
    cov = np.cov(rets.T, aweights=weights, ddof=1)
    portfolio_returns = np.dot(weights, rets.T)
    portfolio_std_dev = np.sqrt(np.dot(weights, np.dot(cov, weights)))
    return portfolio_returns, portfolio_std_dev 6

portfolio_returns, portfolio_std_dev = port_return(returns) 7

print(portfolio_returns)
print(portfolio_std_dev) 8

0.012968706503879782
0.023769932556585847

portfolio = np.array([port_return(np.random.randn(n_assets, i))
                      for i in range(1, 101)]) 9

best_fit = sm.OLS(portfolio[:, 1], sm.add_constant(portfolio[:, 0]))\
           .fit().fittedvalues 10

fig = go.Figure()
fig.add_trace(go.Scatter(name='Risk-Return Relationship',
                         x=portfolio[:, 0],
                         y=portfolio[:, 1], mode='markers'))
fig.add_trace(go.Scatter(name='Best Fit Line',
                         x=portfolio[:, 0],
                         y=best_fit, mode='lines'))
fig.update_layout(xaxis_title = 'Return',
                  yaxis_title = 'Standard Deviation',
                  width=900, height=470)
fig.show() 11

In [ ]:
import statsmodels.api as sm
import numpy as np
import plotly.graph_objs as go
import matplotlib.pyplot as plt
import plotly
import warnings

In [ ]:
# dev purposes
n_assets = 5
n_simulation = 500

returns = np.random.randn(n_assets, n_simulation)

rand = np.random.rand(n_assets)
weights = rand/sum(rand)

def port_return(returns):
    rets = np.mean(returns, axis=1)
    cov = np.cov(rets.T, aweights=weights, ddof=1)
    portfolio_returns = np.dot(weights, rets.T)
    portfolio_std_dev = np.sqrt(np.dot(weights, np.dot(cov, weights)))
    return portfolio_returns, portfolio_std_dev

portfolio_returns, portfolio_std_dev = port_return(returns)

print(portfolio_returns)
print(portfolio_std_dev)

-0.006256154885507571
0.016789375770602168

In [ ]:
import yfinance as yf
start_date = '1979-12-31'
end_date = '2022-01-01'

In [ ]:
# Data on the S&P 500
df = yf.Ticker('^GSPC').history(start=start_date, end=end_date)
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1979-12-31 00:00:00-05:00,0.000000,108.529999,107.260002,107.940002,31530000,0.0,0.0
1980-01-02 00:00:00-05:00,0.000000,108.430000,105.290001,105.760002,40610000,0.0,0.0
1980-01-03 00:00:00-05:00,0.000000,106.080002,103.260002,105.220001,50480000,0.0,0.0
1980-01-04 00:00:00-05:00,0.000000,107.080002,105.089996,106.519997,39130000,0.0,0.0
1980-01-07 00:00:00-05:00,0.000000,107.800003,105.800003,106.809998,44500000,0.0,0.0
...,...,...,...,...,...,...,...
2021-12-27 00:00:00-05:00,4733.990234,4791.490234,4733.990234,4791.189941,2770290000,0.0,0.0
2021-12-28 00:00:00-05:00,4795.490234,4807.020020,4780.040039,4786.350098,2707920000,0.0,0.0
2021-12-29 00:00:00-05:00,4788.640137,4804.060059,4778.080078,4793.060059,2963310000,0.0,0.0
2021-12-30 00:00:00-05:00,4794.229980,4808.930176,4775.330078,4778.729980,3124950000,0.0,0.0
2021-12-31 00:00:00-05:00,4775.209961,4786.830078,4765.750000,4766.180176,2677820000,0.0,0.0

In [ ]:
del df['Open'], df['High'], df['Low'], df['Dividends'], df['Stock Splits']

In [ ]:
std = df['Close'].pct_change().std()
std

0.011251013234587185

In [ ]:
# num_years = 2021-1980
# subset_size = len(df)/num_years
import pandas as pd
from datetime import datetime

In [ ]:
# Find the yearly standard deviation of the S&P500 (which is a proxy for risk)
timezone_info = df.index.tz
std_dict = {}
for year in range(1980, 2022):
    start_date = datetime(year, 1, 1, tzinfo=timezone_info)
    end_date = datetime(year, 12, 31, tzinfo=timezone_info)
    subset_df = df.loc[start_date:end_date]
    std_deviation_subset = subset_df['Close'].pct_change().std()
    std_dict[year] = std_deviation_subset
std_dict

{1980: 0.010325616950671457,
 1981: 0.008501187731704041,
 1982: 0.011545682829548272,
 1983: 0.008338790702702981,
 1984: 0.008047109156878424,
 1985: 0.006380886684919948,
 1986: 0.009270495988473086,
 1987: 0.02029675951401937,
 1988: 0.010551186316009788,
 1989: 0.008219373111112946,
 1990: 0.010017725133004163,
 1991: 0.009006190453880044,
 1992: 0.006106370826165497,
 1993: 0.005430355968458489,
 1994: 0.006212095074212725,
 1995: 0.004926570674137784,
 1996: 0.007348421236412226,
 1997: 0.011460018976119897,
 1998: 0.012827657810291656,
 1999: 0.011427838250593568,
 2000: 0.01401481557956398,
 2001: 0.01350237429332646,
 2002: 0.01645717444302205,
 2003: 0.01059884270143187,
 2004: 0.007011978812035571,
 2005: 0.0064697849374476145,
 2006: 0.006246894691461694,
 2007: 0.010100203034164755,
 2008: 0.025881856931859428,
 2009: 0.017132914226693077,
 2010: 0.011374520371734866,
 2011: 0.014673175335484285,
 2012: 0.0079497032525652,
 2013: 0.006825105102141187,
 2014: 0.007134219344012712,
 2015: 0.00978091099510941,
 2016: 0.008205440427887487,
 2017: 0.004191075914405768,
 2018: 0.010756802796467617,
 2019: 0.007887205372027004,
 2020: 0.02176789159285331,
 2021: 0.008221598817856857}

In [ ]:
std_df = pd.DataFrame(list(std_dict.items()), columns=['Year', 'Standard_Deviation'])
std_df

    Year  Standard_Deviation
0   1980            0.010326
1   1981            0.008501
2   1982            0.011546
3   1983            0.008339
4   1984            0.008047
5   1985            0.006381
6   1986            0.009270
7   1987            0.020297
8   1988            0.010551
9   1989            0.008219
10  1990            0.010018
11  1991            0.009006
12  1992            0.006106
13  1993            0.005430
14  1994            0.006212
15  1995            0.004927
16  1996            0.007348
17  1997            0.011460
18  1998            0.012828
19  1999            0.011428
20  2000            0.014015
21  2001            0.013502
22  2002            0.016457
23  2003            0.010599
24  2004            0.007012
25  2005            0.006470
26  2006            0.006247
27  2007            0.010100
28  2008            0.025882
29  2009            0.017133
30  2010            0.011375
31  2011            0.014673
32  2012            0.007950
33  2013            0.006825
34  2014            0.007134
35  2015            0.009781
36  2016            0.008205
37  2017            0.004191
38  2018            0.010757
39  2019            0.007887
40  2020            0.021768
41  2021            0.008222

In [ ]:
features = pd.read_csv('/Users/justin/MachineLearningResearch/lysk2ycifdwt8krq.csv')
features

,caldt,b30ret,b30ind,b10ret,b10ind,b2ret,b2ind,b1ret,b1ind,t90ret,t90ind,t30ret,t30ind,cpiret,cpiind
0,1970-01-30,0.005413,72.08890,0.028827,72.79032,0.009342,79.69164,0.006463,81.59322,0.007158,85.41116,0.005781,87.23635,0.002653,88.9
1,1970-02-27,0.076670,77.61593,0.067886,77.73176,0.025314,81.70896,0.016646,82.95141,0.007986,86.09324,0.006167,87.77434,0.005291,89.4
2,1970-03-31,-0.009795,76.85569,-0.000269,77.71086,0.008288,82.38614,0.008367,83.64545,0.007078,86.70260,0.005542,88.26076,0.005263,89.9
3,1970-04-30,-0.042397,73.59728,-0.050871,73.75764,-0.007192,81.79362,-0.002925,83.40081,0.005494,87.17896,0.005286,88.72730,0.007853,90.6
4,1970-05-29,-0.040712,70.60098,-0.006522,73.27657,0.002936,82.03379,0.007536,84.02930,0.006237,87.72270,0.005546,89.21937,0.002597,90.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
631,2022-08-31,-0.053490,2688.20100,-0.043289,2456.63900,-0.008112,1528.36900,-0.002666,1329.38200,0.001806,1034.41800,0.001901,840.98970,-0.000354,696.9
632,2022-09-30,-0.085155,2459.28700,-0.050056,2333.67000,-0.012865,1508.70700,-0.004026,1324.03000,0.001684,1036.16000,0.001929,842.61190,0.002151,698.4
633,2022-10-31,-0.065624,2297.89900,-0.014968,2298.73900,0.000223,1509.04300,0.001372,1325.84700,0.001859,1038.08600,0.002327,844.57270,0.004056,701.2
634,2022-11-30,0.077931,2476.97700,0.040789,2392.50300,0.008070,1521.22100,0.002016,1328.52000,0.003114,1041.31900,0.002856,846.98480,-0.001010,700.5
635,2022-12-30,-0.035953,2387.92200,-0.018566,2348.08300,0.000845,1522.50700,0.004019,1333.85900,0.003280,1044.73400,0.003379,849.84670,-0.003070,698.3

In [ ]:
# Note that b[x] is X-year treasury rate. "ret" indicates return while "ind" indicates total return.
features['pct_change_inflation'] = features['cpiind'].pct_change()
features

,caldt,b30ret,b30ind,b10ret,b10ind,b2ret,b2ind,b1ret,b1ind,t90ret,t90ind,t30ret,t30ind,cpiret,cpiind,pct_change_inflation
0,1970-01-30,0.005413,72.08890,0.028827,72.79032,0.009342,79.69164,0.006463,81.59322,0.007158,85.41116,0.005781,87.23635,0.002653,88.9,NaN
1,1970-02-27,0.076670,77.61593,0.067886,77.73176,0.025314,81.70896,0.016646,82.95141,0.007986,86.09324,0.006167,87.77434,0.005291,89.4,0.005624
2,1970-03-31,-0.009795,76.85569,-0.000269,77.71086,0.008288,82.38614,0.008367,83.64545,0.007078,86.70260,0.005542,88.26076,0.005263,89.9,0.005593
3,1970-04-30,-0.042397,73.59728,-0.050871,73.75764,-0.007192,81.79362,-0.002925,83.40081,0.005494,87.17896,0.005286,88.72730,0.007853,90.6,0.007786
4,1970-05-29,-0.040712,70.60098,-0.006522,73.27657,0.002936,82.03379,0.007536,84.02930,0.006237,87.72270,0.005546,89.21937,0.002597,90.8,0.002208
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
631,2022-08-31,-0.053490,2688.20100,-0.043289,2456.63900,-0.008112,1528.36900,-0.002666,1329.38200,0.001806,1034.41800,0.001901,840.98970,-0.000354,696.9,-0.000287
632,2022-09-30,-0.085155,2459.28700,-0.050056,2333.67000,-0.012865,1508.70700,-0.004026,1324.03000,0.001684,1036.16000,0.001929,842.61190,0.002151,698.4,0.002152
633,2022-10-31,-0.065624,2297.89900,-0.014968,2298.73900,0.000223,1509.04300,0.001372,1325.84700,0.001859,1038.08600,0.002327,844.57270,0.004056,701.2,0.004009
634,2022-11-30,0.077931,2476.97700,0.040789,2392.50300,0.008070,1521.22100,0.002016,1328.52000,0.003114,1041.31900,0.002856,846.98480,-0.001010,700.5,-0.000998
635,2022-12-30,-0.035953,2387.92200,-0.018566,2348.08300,0.000845,1522.50700,0.004019,1333.85900,0.003280,1044.73400,0.003379,849.84670,-0.003070,698.3,-0.003141

In [ ]:
volatility = yf.Ticker('^VIX').history(start=start_date, end=end_date)
volatility = volatility['Close']
volatility

Date
1990-01-02 00:00:00-06:00    17.240000
1990-01-03 00:00:00-06:00    18.190001
1990-01-04 00:00:00-06:00    19.219999
1990-01-05 00:00:00-06:00    20.110001
1990-01-08 00:00:00-06:00    20.260000
                               ...
2021-12-27 00:00:00-06:00    17.680000
2021-12-28 00:00:00-06:00    17.540001
2021-12-29 00:00:00-06:00    16.950001
2021-12-30 00:00:00-06:00    17.330000
2021-12-31 00:00:00-06:00    17.219999
Name: Close, Length: 8064, dtype: float64

In [ ]:
other_features = pd.read_csv('/Users/justin/MachineLearningResearch/export copy.csv')
other_features

,Econiso,Auto,Bond10yr,Bond20yr,Bond30yr,Cabgdp1,Cabgdp2,Cpi,Cpi1,Cpi3,...,Tbill3m,Tbill6m,Txcr,Unemp,Unemp1,Unemp2,Wpi1,Wpi3,Wpir,Datadate
0,USA,NaN,NaN,NaN,NaN,-3.3292,-3.3098,NaN,122.3080,121.5930,...,NaN,NaN,16.7931,NaN,4.2757,4.2148,125.4701,124.8796,-2.1089,2024-04-30
1,USA,NaN,NaN,NaN,NaN,-3.3292,-3.3098,NaN,122.3080,121.8803,...,NaN,NaN,16.7931,NaN,4.2757,4.2148,125.4701,124.8238,-2.1089,2024-05-31
2,USA,NaN,NaN,NaN,NaN,-3.3292,-3.3098,NaN,122.3080,122.1844,...,NaN,NaN,16.7931,NaN,4.2757,4.2148,125.4701,124.9251,-2.1089,2024-06-30
3,USA,NaN,NaN,NaN,NaN,-3.3292,-3.3572,NaN,122.3080,122.5855,...,NaN,NaN,16.7931,NaN,4.2757,4.3669,125.4701,125.4795,-2.1089,2024-07-31
4,USA,NaN,NaN,NaN,NaN,-3.3292,-3.3572,NaN,122.3080,122.8633,...,NaN,NaN,16.7931,NaN,4.2757,4.3669,125.4701,125.6726,-2.1089,2024-08-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,CAN,50.552,6.42,NaN,6.8053,0.3856,-0.0462,0.897,76.3523,77.0177,...,2.690,NaN,22.9208,9.5,9.6254,9.8467,83.9013,83.7930,0.4389,1996-11-30
996,CAN,44.686,6.77,NaN,7.0866,0.3856,-0.0462,0.899,76.3523,77.0177,...,2.799,NaN,22.9208,9.3,9.6254,9.8467,83.9013,84.1930,0.4389,1996-12-31
997,CAN,43.019,7.07,NaN,7.3462,-1.3764,-0.3654,0.900,77.5902,77.1895,...,2.841,NaN,27.6365,10.3,9.0895,9.4426,84.4763,83.9930,0.6853,1997-01-31
998,CAN,46.063,6.78,NaN,7.0270,-1.3764,-0.3654,0.901,77.5902,77.3612,...,2.858,NaN,27.6365,10.3,9.0895,9.4426,84.4763,84.0930,0.6853,1997-02-28
999,CAN,63.443,6.97,NaN,7.2163,-1.3764,-0.3654,0.902,77.5902,77.4471,...,3.186,NaN,27.6365,10.0,9.0895,9.4426,84.4763,84.1930,0.6853,1997-03-31

In [ ]:
features = other_features[other_features['Econiso'] == 'USA']
features

,Econiso,Auto,Bond10yr,Bond20yr,Bond30yr,Cabgdp1,Cabgdp2,Cpi,Cpi1,Cpi3,...,Tbill3m,Tbill6m,Txcr,Unemp,Unemp1,Unemp2,Wpi1,Wpi3,Wpir,Datadate
0,USA,NaN,NaN,NaN,NaN,-3.3292,-3.3098,NaN,122.308,121.5930,...,NaN,NaN,16.7931,NaN,4.2757,4.2148,125.4701,124.8796,-2.1089,2024-04-30
1,USA,NaN,NaN,NaN,NaN,-3.3292,-3.3098,NaN,122.308,121.8803,...,NaN,NaN,16.7931,NaN,4.2757,4.2148,125.4701,124.8238,-2.1089,2024-05-31
2,USA,NaN,NaN,NaN,NaN,-3.3292,-3.3098,NaN,122.308,122.1844,...,NaN,NaN,16.7931,NaN,4.2757,4.2148,125.4701,124.9251,-2.1089,2024-06-30
3,USA,NaN,NaN,NaN,NaN,-3.3292,-3.3572,NaN,122.308,122.5855,...,NaN,NaN,16.7931,NaN,4.2757,4.3669,125.4701,125.4795,-2.1089,2024-07-31
4,USA,NaN,NaN,NaN,NaN,-3.3292,-3.3572,NaN,122.308,122.8633,...,NaN,NaN,16.7931,NaN,4.2757,4.3669,125.4701,125.6726,-2.1089,2024-08-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,USA,771.7,NaN,NaN,8.42,0.0469,0.1644,1.360,62.440,62.3635,...,5.54,5.68,17.6741,6.9,6.8503,6.8333,61.1986,62.8377,0.2203,1991-06-30
596,USA,773.2,NaN,NaN,8.36,0.0469,-0.2693,1.362,62.440,62.4552,...,5.53,5.66,17.6741,6.8,6.8503,6.8667,61.1986,62.7807,0.2203,1991-07-31
597,USA,690.4,NaN,NaN,8.06,0.0469,-0.2693,1.366,62.440,62.6387,...,5.33,5.36,17.6741,6.9,6.8503,6.8667,61.1986,62.8941,0.2203,1991-08-31
598,USA,671.4,NaN,NaN,7.82,0.0469,-0.2693,1.370,62.440,62.8221,...,5.11,5.12,17.6741,6.9,6.8503,6.8667,61.1986,62.6951,0.2203,1991-09-30
599,USA,702.0,NaN,NaN,7.91,0.0469,-0.3441,1.372,62.440,62.9138,...,4.82,4.83,17.6741,7.0,6.8503,7.1000,61.1986,62.7301,0.2203,1991-10-31